<!DOCTYPE html>
<html>
<head>
  <title>Redirectr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
  <script>
    window.REDIRECTR_CONFIG = {{{ config }}};
  </script>
  <script src="./bundle.js"></script>
</head>
<body>
</body>
</html>
